* {
  margin: 0;
}
html,
body {
  /*define o tom de cinza a ser usado na variável gray*/
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: grid;
  place-items: center;
  background: var(--black);
}

main {
  background: url(img/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  /*chama a variável gray*/
  color: var(--gray);
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}
.avatar {
  /*rem: relativo ao tamanho da fonte padrão da página (nesse caso, 16px)*/
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  /*z-index posiciona no eixo z*/
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  /*object-fit faz a imagem preencher a patir do centro*/
  object-fit: cover;
  /*criar máscara de polígono*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
a {
  color: var(--gray);
  margin-top: 0.25rem;
  text-decoration: none;
  /*alinha o link ao centro vertical do eixo x*/
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}
h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

ul {
  margin-top: 4rem;
  /*tira as bolinhas da lista*/
  list-style: none;
  padding: 0;
  display: flex;
  /*é possível alterar a direção dos ícones para vertical:*/
  /*flex-direction: column;*/
  /*gap e justify-content são específicos do display flex*/
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 720px) {
  main {
    background: url(img/desktop.svg) no-repeat center/cover;
  }

  a:hover {
    color: #8383ed;
  }
  @keyframes slideFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.container {
  margin-top: 13rem;
  animation: 1s ease-out 0s 1 slideFromBottom;
}

ul li a {
  transition: transform 0.5s;
}

ul li a:hover {
  transform: translateY(-5px);
}
